In [1]:
import pandas as pd

In [2]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split

In [7]:
iris = load_iris()

In [14]:
df = pd.DataFrame(iris.data, columns = iris.feature_names)
df['kind'] = iris.target

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   kind               150 non-null    int32
dtypes: float64(4), int32(1)
memory usage: 5.4 KB

In [30]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),kind
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [17]:
y  = df.kind
x = df.drop('kind', axis=1)

In [18]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3)

In [25]:
x_train.head()

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
101                5.8               2.7                5.1               1.9
26                 5.0               3.4                1.6               0.4
52                 6.9               3.1                4.9               1.5
86                 6.7               3.1                4.7               1.5
70                 5.9               3.2                4.8               1.8

In [26]:
x_test.head()

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
24                 4.8               3.4                1.9               0.2
17                 5.1               3.5                1.4               0.3
121                5.6               2.8                4.9               2.0
90                 5.5               2.6                4.4               1.2
123                6.3               2.7                4.9               1.8

In [27]:
y_train.head()

101    2
26     0
52     1
86     1
70     1
Name: kind, dtype: int32

In [28]:
y_test.head()

24     0
17     0
121    2
90     1
123    2
Name: kind, dtype: int32

In [20]:
x_train.shape

(105, 4)

In [22]:
x_test.shape

(45, 4)

In [23]:
y_train.shape

(105,)

In [24]:
y_test.shape

(45,)

In [ ]:
meet