In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from sklearn.base import BaseEstimator

class MyDummyClassifier(BaseEstimator):
    
    def fit(self, x, y=None):
        pass
    
    def predict(self, x):
        pred = np.zeros((x.shape[0], 1))
        
        for i in range(x.shape[0]):
            if x['Sex'].iloc[i] == 1:
                pred[i] = 0
            else:
                pred[i]  = 1
                
        return pred

In [3]:
from sklearn.preprocessing import LabelEncoder

def fillna(df):
    df['Age'].fillna(df['Age'].mean(), inplace=True)
    df['Cabin'].fillna('N', inplace=True)
    df['Embarked'].fillna('N', inplace=True)
    df['Fare'].fillna(0, inplace=True)
    return df

def drop_features(df):
    df.drop(['PassengerId', 'Name', 'Ticket'], axis=1, inplace=True)
    return df

def format_features(df):
    df['Cabin'] = df['Cabin'].str[:1]
    features = ['Cabin', 'Sex', 'Embarked']
    for feature in features:
        le = LabelEncoder()
        le = le.fit(df[feature])
        df[feature] = le.transform(df[feature])
    return df

def transform_features(df):
    df = fillna(df)
    df = drop_features(df)
    df = format_features(df)
    return df

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

titanic_df = pd.read_csv('./ml_data/titanic_data.csv')
y_titanic_df = titanic_df['Survived']

FileNotFoundError: [Errno 2] No such file or directory: './ml_data/titanic_data.csv'

In [ ]:
titanic_df.head(2)

In [5]:
x_titanic_df = titanic_df.drop('Survived', axis=1)
x_titanic_df = transform_features(x_titanic_df)
x_titanic_df

NameError: name 'titanic_df' is not defined

In [6]:
x_train, x_test, y_train, y_test = train_test_split(x_titanic_df, y_titanic_df, test_size=0.2)

NameError: name 'x_titanic_df' is not defined

In [7]:
myclf = MyDummyClassifier()
myclf.fit(x_train, y_train)

mypredictions = myclf.predict(x_test)
accuracy_score(y_test, mypredictions)

NameError: name 'x_train' is not defined

In [41]:
mypredictions

array([[1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.]])

In [42]:
for i in range(len(x_test)):
    print(mypredictions[i], x_test.iloc[i])

[1.] Pclass       3.000
Sex          0.000
Age         21.000
SibSp        1.000
Parch        0.000
Fare         9.825
Cabin        7.000
Embarked     3.000
Name: 402, dtype: float64
[1.] Pclass       3.000
Sex          0.000
Age          8.000
SibSp        3.000
Parch        1.000
Fare        21.075
Cabin        7.000
Embarked     3.000
Name: 24, dtype: float64
[0.] Pclass       1.000
Sex          1.000
Age         45.000
SibSp        1.000
Parch        0.000
Fare        83.475
Cabin        2.000
Embarked     3.000
Name: 62, dtype: float64
[0.] Pclass        1.000000
Sex           1.000000
Age          29.699118
SibSp         0.000000
Parch         0.000000
Fare        221.779200
Cabin         2.000000
Embarked      3.000000
Name: 527, dtype: float64
[1.] Pclass       3.000000
Sex          0.000000
Age         29.699118
SibSp        0.000000
Parch        0.000000
Fare         7.750000
Cabin        7.000000
Embarked     2.000000
Name: 274, dtype: float64
[0.] Pclass       3.00
Sex          1.00
Age         30.00
SibSp        0.00
Parch        0.00
Fare         7.25
Cabin        7.00
Embarked     3.00
Name: 365, dtype: float64
[0.] Pclass       3.0000
Sex          1.0000
Age         42.0000
SibSp        0.0000
Parch        1.0000
Fare         8.4042
Cabin        7.0000
Embarked     3.0000
Name: 197, dtype: float64
[0.] Pclass       3.000000
Sex          1.000000
Age         29.699118
SibSp        0.000000
Parch        0.000000
Fare        56.495800
Cabin        7.000000
Embarked     3.000000
Name: 826, dtype: float64
[0.] Pclass       2.0000
Sex          1.0000
Age         23.0000
SibSp        0.0000
Parch        0.0000
Fare        15.0458
Cabin        7.0000
Embarked     0.0000
Name: 135, dtype: float64
[1.] Pclass       2.0
Sex          0.0
Age         22.0
SibSp        1.0
Parch        1.0
Fare        29.0
Cabin        7.0
Embarked     3.0
Name: 323, dtype: float64
[0.] Pclass       3.00
Sex          1.00
Age         43.00
SibSp        0.00
Parch        0.00
Fare         8.05
Cabin        7.00
Embarked     3.00
Name: 668, dtype: float64
[1.] Pclass       1.0
Sex          0.0
Age         35.0
SibSp        1.0
Parch        0.0
Fare        90.0
Cabin        2.0
Embarked     3.0
Name: 486, dtype: float64
[0.] Pclass       3.000
Sex          1.000
Age         21.000
SibSp        0.000
Parch        0.000
Fare         7.925
Cabin        7.000
Embarked     3.000
Name: 173, dtype: float64
[0.] Pclass       1.0000
Sex          1.0000
Age         36.0000
SibSp        0.0000
Parch        0.0000
Fare        26.3875
Cabin        4.0000
Embarked     3.0000
Name: 572, dtype: float64
[0.] Pclass       3.0000
Sex          1.0000
Age         26.0000
SibSp        0.0000
Parch        0.0000
Fare         7.8958
Cabin        7.0000
Embarked     3.0000
Name: 628, dtype: float64
[0.] Pclass       1.00
Sex          1.00
Age         45.00
SibSp        0.00
Parch        0.00
Fare        26.55
Cabin        7.00
Embarked     3.00
Name: 187, dtype: float64
[0.] Pclass       3.000000
Sex          1.000000
Age         29.699118
SibSp        0.000000
Parch        0.000000
Fare         8.050000
Cabin        7.000000
Embarked     3.000000
Name: 511, dtype: float64
[0.] Pclass       3.00
Sex          1.00
Age         55.50
SibSp        0.00
Parch        0.00
Fare         8.05
Cabin        7.00
Embarked     3.00
Name: 152, dtype: float64
[0.] Pclass       2.000000
Sex          1.000000
Age         29.699118
SibSp        0.000000
Parch        0.000000
Fare        13.000000
Cabin        7.000000
Embarked     3.000000
Name: 17, dtype: float64
[1.] Pclass       3.0000
Sex          0.0000
Age         31.0000
SibSp        0.0000
Parch        0.0000
Fare         7.8542
Cabin        7.0000
Embarked     3.0000
Name: 396, dtype: float64
[0.] Pclass       2.0
Sex          1.0
Age         32.0
SibSp        1.0
Parch        0.0
Fare        26.0
Cabin        7.0
Embarked     3.0
Name: 543, dtype: float64
[0.] Pclass       3.0
Sex          1.0
Age          3.0
SibSp        1.0
Parch        1.0
Fare        15.9
Cabin        7.0
Embarked     3.0
Name: 348, dtype: float64
[0.] Pclass        1.0000
Sex           1.0000
Age          22.0000
SibSp         0.0000
Parch         0.0000
Fare        135.6333
Cabin         7.0000
Embarked      0.0000
Name: 373, dtype: float64
[0.] Pclass       3.0000
Sex          1.0000
Age         25.0000
SibSp        0.0000
Parch        0.0000
Fare         7.7417
Cabin        7.0000
Embarked     2.0000
Name: 703, dtype: float64
[0.] Pclass       3.000
Sex          1.000
Age         17.000
SibSp        0.000
Parch        0.000
Fare         7.125
Cabin        7.000
Embarked     3.000
Name: 433, dtype: float64
[1.] Pclass       1.0
Sex          0.0
Age         33.0
SibSp        0.0
Parch        0.0
Fare        86.5
Cabin        1.0
Embarked     3.0
Name: 759, dtype: float64
[0.] Pclass       2.00
Sex          1.00
Age         31.00
SibSp        1.00
Parch        1.00
Fare        26.25
Cabin        7.00
Embarked     3.00
Name: 637, dtype: float64
[1.] Pclass       2.0
Sex          0.0
Age         40.0
SibSp        1.0
Parch        1.0
Fare        39.0
Cabin        7.0
Embarked     3.0
Name: 670, dtype: float64
[1.] Pclass       3.000
Sex          0.000
Age         40.000
SibSp        1.000
Parch        0.000
Fare         9.475
Cabin        7.000
Embarked     3.000
Name: 40, dtype: float64
[0.] Pclass       1.00
Sex          1.00
Age         65.00
SibSp        0.00
Parch        0.00
Fare        26.55
Cabin        4.00
Embarked     3.00
Name: 456, dtype: float64
[0.] Pclass       3.0000
Sex          1.0000
Age         34.0000
SibSp        0.0000
Parch        0.0000
Fare         6.4958
Cabin        7.0000
Embarked     3.0000
Name: 202, dtype: float64
[0.] Pclass       3.0000
Sex          1.0000
Age          1.0000
SibSp        4.0000
Parch        1.0000
Fare        39.6875
Cabin        7.0000
Embarked     3.0000
Name: 164, dtype: float64
[1.] Pclass       2.0
Sex          0.0
Age         28.0
SibSp        0.0
Parch        0.0
Fare        13.0
Cabin        7.0
Embarked     3.0
Name: 635, dtype: float64
[1.] Pclass       3.00
Sex          0.00
Age         33.00
SibSp        3.00
Parch        0.00
Fare        15.85
Cabin        7.00
Embarked     3.00
Name: 85, dtype: float64
[0.] Pclass       3.000000
Sex          1.000000
Age         29.699118
SibSp        0.000000
Parch        0.000000
Fare         7.895800
Cabin        7.000000
Embarked     3.000000
Name: 739, dtype: float64
[0.] Pclass       3.00
Sex          1.00
Age         26.00
SibSp        0.00
Parch        0.00
Fare         8.05
Cabin        7.00
Embarked     3.00
Name: 401, dtype: float64
[0.] Pclass       1.0
Sex          1.0
Age         37.0
SibSp        0.0
Parch        1.0
Fare        29.7
Cabin        2.0
Embarked     0.0
Name: 273, dtype: float64
[0.] Pclass       3.0000
Sex          1.0000
Age         19.0000
SibSp        0.0000
Parch        0.0000
Fare         7.8958
Cabin        7.0000
Embarked     3.0000
Name: 566, dtype: float64
[0.] Pclass       3.0000
Sex          1.0000
Age         22.0000
SibSp        0.0000
Parch        0.0000
Fare         7.5208
Cabin        7.0000
Embarked     3.0000
Name: 478, dtype: float64
[1.] Pclass       1.0000
Sex          0.0000
Age         49.0000
SibSp        1.0000
Parch        0.0000
Fare        76.7292
Cabin        3.0000
Embarked     0.0000
Name: 52, dtype: float64
[0.] Pclass       2.0000
Sex          1.0000
Age         29.0000
SibSp        1.0000
Parch        0.0000
Fare        27.7208
Cabin        7.0000
Embarked     0.0000
Name: 361, dtype: float64
[1.] Pclass       2.0000
Sex          0.0000
Age         22.0000
SibSp        1.0000
Parch        2.0000
Fare        41.5792
Cabin        7.0000
Embarked     0.0000
Name: 608, dtype: float64
[0.] Pclass       3.00
Sex          1.00
Age         34.00
SibSp        0.00
Parch        0.00
Fare         8.05
Cabin        7.00
Embarked     3.00
Name: 461, dtype: float64
[0.] Pclass       3.000
Sex          1.000
Age         30.000
SibSp        0.000
Parch        0.000
Fare         7.225
Cabin        7.000
Embarked     0.000
Name: 244, dtype: float64
[1.] Pclass       3.00
Sex          0.00
Age         18.00
SibSp        0.00
Parch        1.00
Fare         9.35
Cabin        7.00
Embarked     3.00
Name: 855, dtype: float64
[0.] Pclass       3.000000
Sex          1.000000
Age         29.699118
SibSp        0.000000
Parch        0.000000
Fare         7.750000
Cabin        7.000000
Embarked     2.000000
Name: 828, dtype: float64
[1.] Pclass       3.0000
Sex          0.0000
Age         18.0000
SibSp        0.0000
Parch        0.0000
Fare         7.4958
Cabin        7.0000
Embarked     3.0000
Name: 786, dtype: float64
[0.] Pclass       1.000000
Sex          1.000000
Age         29.699118
SibSp        0.000000
Parch        0.000000
Fare        31.000000
Cabin        7.000000
Embarked     3.000000
Name: 270, dtype: float64
[1.] Pclass        1.000
Sex           0.000
Age          30.000
SibSp         0.000
Parch         0.000
Fare        106.425
Cabin         7.000
Embarked      0.000
Name: 537, dtype: float64
[0.] Pclass        1.0000
Sex           1.0000
Age          36.0000
SibSp         0.0000
Parch         1.0000
Fare        512.3292
Cabin         1.0000
Embarked      0.0000
Name: 679, dtype: float64
[0.] Pclass       3.000
Sex          1.000
Age         32.000
SibSp        0.000
Parch        0.000
Fare         7.925
Cabin        7.000
Embarked     3.000
Name: 382, dtype: float64
[0.] Pclass       3.0000
Sex          1.0000
Age          7.0000
SibSp        4.0000
Parch        1.0000
Fare        39.6875
Cabin        7.0000
Embarked     3.0000
Name: 50, dtype: float64
[1.] Pclass       2.0
Sex          0.0
Age         48.0
SibSp        1.0
Parch        2.0
Fare        65.0
Cabin        7.0
Embarked     3.0
Name: 754, dtype: float64
[0.] Pclass       3.0000
Sex          1.0000
Age         24.0000
SibSp        0.0000
Parch        0.0000
Fare         7.1417
Cabin        7.0000
Embarked     3.0000
Name: 127, dtype: float64
[0.] Pclass       3.000000
Sex          1.000000
Age         29.699118
SibSp        0.000000
Parch        0.000000
Fare         7.895800
Cabin        7.000000
Embarked     3.000000
Name: 29, dtype: float64
[0.] Pclass       3.0000
Sex          1.0000
Age         51.0000
SibSp        0.0000
Parch        0.0000
Fare         7.0542
Cabin        7.0000
Embarked     3.0000
Name: 631, dtype: float64
[0.] Pclass       3.000000
Sex          1.000000
Age         29.699118
SibSp        0.000000
Parch        0.000000
Fare         7.895800
Cabin        7.000000
Embarked     3.000000
Name: 878, dtype: float64
[1.] Pclass       3.000000
Sex          0.000000
Age         29.699118
SibSp        0.000000
Parch        0.000000
Fare         7.750000
Cabin        7.000000
Embarked     2.000000
Name: 368, dtype: float64
[1.] Pclass       1.0
Sex          0.0
Age         33.0
SibSp        1.0
Parch        0.0
Fare        53.1
Cabin        4.0
Embarked     3.0
Name: 809, dtype: float64
[1.] Pclass        1.0
Sex           0.0
Age          14.0
SibSp         1.0
Parch         2.0
Fare        120.0
Cabin         1.0
Embarked      3.0
Name: 435, dtype: float64
[0.] Pclass       3.000000
Sex          1.000000
Age         29.699118
SibSp        0.000000
Parch        0.000000
Fare         7.895800
Cabin        7.000000
Embarked     3.000000
Name: 656, dtype: float64
[0.] Pclass       3.0
Sex          1.0
Age         47.0
SibSp        0.0
Parch        0.0
Fare         9.0
Cabin        7.0
Embarked     3.0
Name: 873, dtype: float64
[1.] Pclass       3.000
Sex          0.000
Age          9.000
SibSp        2.000
Parch        2.000
Fare        34.375
Cabin        7.000
Embarked     3.000
Name: 147, dtype: float64
[0.] Pclass       1.000000
Sex          1.000000
Age         29.699118
SibSp        0.000000
Parch        0.000000
Fare        52.000000
Cabin        0.000000
Embarked     3.000000
Name: 475, dtype: float64
[0.] Pclass       3.000
Sex          1.000
Age         35.000
SibSp        0.000
Parch        0.000
Fare         7.125
Cabin        7.000
Embarked     3.000
Name: 590, dtype: float64
[0.] Pclass       3.00
Sex          1.00
Age         20.00
SibSp        0.00
Parch        0.00
Fare         7.05
Cabin        7.00
Embarked     3.00
Name: 131, dtype: float64
[0.] Pclass       3.0000
Sex          1.0000
Age         26.0000
SibSp        1.0000
Parch        0.0000
Fare        14.4542
Cabin        7.0000
Embarked     0.0000
Name: 73, dtype: float64
[1.] Pclass       3.0000
Sex          0.0000
Age         27.0000
SibSp        0.0000
Parch        2.0000
Fare        11.1333
Cabin        7.0000
Embarked     3.0000
Name: 8, dtype: float64
[0.] Pclass       3.0000
Sex          1.0000
Age         20.0000
SibSp        0.0000
Parch        0.0000
Fare         8.6625
Cabin        7.0000
Embarked     3.0000
Name: 725, dtype: float64
[0.] Pclass       1.0
Sex          1.0
Age         42.0
SibSp        1.0
Parch        0.0
Fare        52.0
Cabin        7.0
Embarked     3.0
Name: 35, dtype: float64
[0.] Pclass       3.000
Sex          1.000
Age         31.000
SibSp        0.000
Parch        0.000
Fare         7.925
Cabin        7.000
Embarked     3.000
Name: 744, dtype: float64
[0.] Pclass       3.000000
Sex          1.000000
Age         29.699118
SibSp        1.000000
Parch        1.000000
Fare        15.245800
Cabin        7.000000
Embarked     0.000000
Name: 65, dtype: float64
[1.] Pclass       1.0000
Sex          0.0000
Age         48.0000
SibSp        0.0000
Parch        0.0000
Fare        25.9292
Cabin        3.0000
Embarked     3.0000
Name: 862, dtype: float64
[0.] Pclass       2.0
Sex          1.0
Age         27.0
SibSp        0.0
Parch        0.0
Fare        13.0
Cabin        7.0
Embarked     3.0
Name: 221, dtype: float64
[0.] Pclass       3.00
Sex          1.00
Age         50.00
SibSp        0.00
Parch        0.00
Fare         8.05
Cabin        7.00
Embarked     3.00
Name: 482, dtype: float64
[0.] Pclass       1.0
Sex          1.0
Age         37.0
SibSp        1.0
Parch        0.0
Fare        53.1
Cabin        2.0
Embarked     3.0
Name: 137, dtype: float64
[1.] Pclass       2.0
Sex          0.0
Age         24.0
SibSp        0.0
Parch        0.0
Fare        13.0
Cabin        7.0
Embarked     3.0
Name: 199, dtype: float64
[0.] Pclass       3.00
Sex          1.00
Age         30.00
SibSp        0.00
Parch        0.00
Fare         8.05
Cabin        7.00
Embarked     3.00
Name: 157, dtype: float64
[0.] Pclass       3.0000
Sex          1.0000
Age         33.0000
SibSp        0.0000
Parch        0.0000
Fare         7.8958
Cabin        7.0000
Embarked     0.0000
Name: 130, dtype: float64
[0.] Pclass       1.0000
Sex          1.0000
Age         47.0000
SibSp        0.0000
Parch        0.0000
Fare        25.5875
Cabin        4.0000
Embarked     3.0000
Name: 662, dtype: float64
[1.] Pclass       2.0
Sex          0.0
Age         57.0
SibSp        0.0
Parch        0.0
Fare        10.5
Cabin        4.0
Embarked     3.0
Name: 772, dtype: float64
[1.] Pclass       3.0000
Sex          0.0000
Age          9.0000
SibSp        1.0000
Parch        1.0000
Fare        15.2458
Cabin        7.0000
Embarked     0.0000
Name: 852, dtype: float64
[0.] Pclass       3.0000
Sex          1.0000
Age         21.0000
SibSp        0.0000
Parch        0.0000
Fare         8.6625
Cabin        7.0000
Embarked     3.0000
Name: 836, dtype: float64
[0.] Pclass       1.000
Sex          1.000
Age         36.000
SibSp        0.000
Parch        0.000
Fare        40.125
Cabin        0.000
Embarked     0.000
Name: 583, dtype: float64
[1.] Pclass        1.0000
Sex           0.0000
Age          50.0000
SibSp         0.0000
Parch         1.0000
Fare        247.5208
Cabin         1.0000
Embarked      0.0000
Name: 299, dtype: float64
[1.] Pclass        1.000
Sex           0.000
Age          38.000
SibSp         0.000
Parch         0.000
Fare        227.525
Cabin         2.000
Embarked      0.000
Name: 716, dtype: float64
[0.] Pclass       3.0
Sex          1.0
Age         28.5
SibSp        0.0
Parch        0.0
Fare        16.1
Cabin        7.0
Embarked     3.0
Name: 735, dtype: float64
[0.] Pclass       3.000000
Sex          1.000000
Age         29.699118
SibSp        0.000000
Parch        0.000000
Fare         8.050000
Cabin        7.000000
Embarked     3.000000
Name: 464, dtype: float64
[0.] Pclass       2.0
Sex          1.0
Age         42.0
SibSp        1.0
Parch        0.0
Fare        27.0
Cabin        7.0
Embarked     3.0
Name: 217, dtype: float64
[0.] Pclass       3.000000
Sex          1.000000
Age         29.699118
SibSp        0.000000
Parch        0.000000
Fare         7.737500
Cabin        7.000000
Embarked     2.000000
Name: 778, dtype: float64
[0.] Pclass       1.0
Sex          1.0
Age         61.0
SibSp        0.0
Parch        0.0
Fare        33.5
Cabin        1.0
Embarked     3.0
Name: 170, dtype: float64
[1.] Pclass       1.0000
Sex          0.0000
Age         24.0000
SibSp        0.0000
Parch        0.0000
Fare        83.1583
Cabin        2.0000
Embarked     0.0000
Name: 310, dtype: float64
[0.] Pclass        1.000
Sex           1.000
Age          50.000
SibSp         1.000
Parch         0.000
Fare        106.425
Cabin         2.000
Embarked      0.000
Name: 544, dtype: float64
[1.] Pclass        1.000000
Sex           0.000000
Age          29.699118
SibSp         1.000000
Parch         0.000000
Fare        146.520800
Cabin         1.000000
Embarked      0.000000
Name: 31, dtype: float64
[0.] Pclass       3.00
Sex          1.00
Age         45.00
SibSp        0.00
Parch        0.00
Fare         8.05
Cabin        7.00
Embarked     3.00
Name: 338, dtype: float64
[0.] Pclass       3.000
Sex          1.000
Age         45.000
SibSp        0.000
Parch        0.000
Fare         6.975
Cabin        7.000
Embarked     3.000
Name: 129, dtype: float64
[1.] Pclass       1.0
Sex          0.0
Age         19.0
SibSp        0.0
Parch        0.0
Fare        30.0
Cabin        1.0
Embarked     3.0
Name: 887, dtype: float64
[0.] Pclass       3.000000
Sex          1.000000
Age         29.699118
SibSp        0.000000
Parch        0.000000
Fare         7.895800
Cabin        7.000000
Embarked     0.000000
Name: 420, dtype: float64
[1.] Pclass       3.000
Sex          0.000
Age         30.000
SibSp        0.000
Parch        0.000
Fare        12.475
Cabin        7.000
Embarked     3.000
Name: 79, dtype: float64
[1.] Pclass       3.000
Sex          0.000
Age         27.000
SibSp        0.000
Parch        0.000
Fare         7.925
Cabin        7.000
Embarked     3.000
Name: 216, dtype: float64
[0.] Pclass       3.0
Sex          1.0
Age         34.0
SibSp        1.0
Parch        1.0
Fare        14.4
Cabin        7.0
Embarked     3.0
Name: 616, dtype: float64
[1.] Pclass       3.000000
Sex          0.000000
Age         29.699118
SibSp        0.000000
Parch        2.000000
Fare         7.750000
Cabin        7.000000
Embarked     2.000000
Name: 593, dtype: float64
[1.] Pclass       1.0000
Sex          0.0000
Age         19.0000
SibSp        0.0000
Parch        2.0000
Fare        26.2833
Cabin        3.0000
Embarked     3.0000
Name: 136, dtype: float64
[1.] Pclass       3.000
Sex          0.000
Age         17.000
SibSp        4.000
Parch        2.000
Fare         7.925
Cabin        7.000
Embarked     3.000
Name: 68, dtype: float64
[0.] Pclass       3.000000
Sex          1.000000
Age         29.699118
SibSp        0.000000
Parch        0.000000
Fare         7.895800
Cabin        7.000000
Embarked     3.000000
Name: 410, dtype: float64
[0.] Pclass       3.0000
Sex          1.0000
Age         30.0000
SibSp        0.0000
Parch        0.0000
Fare         7.8958
Cabin        7.0000
Embarked     3.0000
Name: 606, dtype: float64
[0.] Pclass       1.0000
Sex          1.0000
Age          4.0000
SibSp        0.0000
Parch        2.0000
Fare        81.8583
Cabin        0.0000
Embarked     3.0000
Name: 445, dtype: float64
[0.] Pclass       1.0
Sex          1.0
Age         38.0
SibSp        1.0
Parch        0.0

In [50]:
from sklearn.datasets import load_digits
from sklearn.base import BaseEstimator

In [52]:
class MyFakeClassifier(BaseEstimator):
    def fit(self, x, y):
        pass
    
    def predict(self, x):
        return np.zeros((len(x),1), dtype=bool)

In [53]:
digits = load_digits()

In [55]:
digits.data

array([[ 0.,  0.,  5., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ..., 10.,  0.,  0.],
       [ 0.,  0.,  0., ..., 16.,  9.,  0.],
       ...,
       [ 0.,  0.,  1., ...,  6.,  0.,  0.],
       [ 0.,  0.,  2., ..., 12.,  0.,  0.],
       [ 0.,  0., 10., ..., 12.,  1.,  0.]])

In [56]:
digits.data.shape  # 0~9   64 vector ,   1797 ...

(1797, 64)

In [57]:
digits.target

array([0, 1, 2, ..., 8, 9, 8])

In [58]:
len(digits.target)

1797

In [59]:
digits.target == 7

array([False, False, False, ..., False, False, False])

In [61]:
y = (digits.target == 7).astype(int)

In [62]:
x = digits.data

In [63]:
x_train, x_test, y_train, y_test = train_test_split(x,y, random_state=11)

In [64]:
fakeclf = MyFakeClassifier()
fakeclf.fit(x_train, y_train)
fakepred = fakeclf.predict(x_test)

In [65]:
accuracy_score(y_test, fakepred)

0.9

In [68]:
from sklearn.metrics import confusion_matrix, classification_report

In [67]:
confusion_matrix(y_test, fakepred)

array([[405,   0],
       [ 45,   0]], dtype=int64)

In [69]:
print(classification_report(y_test, fakepred))

              precision    recall  f1-score   support

           0       0.90      1.00      0.95       405
           1       0.00      0.00      0.00        45

    accuracy                           0.90       450
   macro avg       0.45      0.50      0.47       450
weighted avg       0.81      0.90      0.85       450

C:\Users\YONSAI\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\YONSAI\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\YONSAI\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
# accuray, recall, precision, f1_score
# precision_recall_score, roc_auc_score