In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [31]:
df = pd.read_csv('./data/Ecommerce Customers.txt')
df.head()

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Email                 500 non-null    object
 1   Address               500 non-null    object
 2   Avatar                500 non-null    object
 3   Avg. Session Length   500 non-null    float64
 4   Time on App           500 non-null    float64
 5   Time on Website       500 non-null    float64
 6   Length of Membership  500 non-null    float64
 7   Yearly Amount Spent   500 non-null    float64
dtypes: float64(5), object(3)
memory usage: 31.4+ KB

In [7]:
# EDA

In [8]:
# sns.jointplot(x='Time on Website', y='Yearly Amount Spent', data=df)

In [9]:
# sns.jointplot(x='Length of Membership', y='Yearly Amount Spent', data=df)

In [10]:
# sns.pairplot(df)

In [11]:
# sns.lmplot(x='Length of Membership', y='Yearly Amount Spent', data=df)

In [33]:
df.head(1)

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054

In [34]:
y = df['Yearly Amount Spent']
x = df.drop(['Email', 'Address', 'Avatar', 'Yearly Amount Spent'], axis=1)

In [14]:
y

0      587.951054
1      392.204933
2      487.547505
3      581.852344
4      599.406092
          ...
495    573.847438
496    529.049004
497    551.620145
498    456.469510
499    497.778642
Name: Yearly Amount Spent, Length: 500, dtype: float64

In [15]:
x

     Avg. Session Length  Time on App  Time on Website  Length of Membership
0              34.497268    12.655651        39.577668              4.082621
1              31.926272    11.109461        37.268959              2.664034
2              33.000915    11.330278        37.110597              4.104543
3              34.305557    13.717514        36.721283              3.120179
4              33.330673    12.795189        37.536653              4.446308
..                   ...          ...              ...                   ...
495            33.237660    13.566160        36.417985              3.746573
496            34.702529    11.695736        37.190268              3.576526
497            32.646777    11.499409        38.332576              4.958264
498            33.322501    12.391423        36.840086              2.336485
499            33.715981    12.418808        35.771016              2.735160

[500 rows x 4 columns]

In [16]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=111)

In [17]:
from sklearn.linear_model import LinearRegression

In [18]:
lr = LinearRegression()

In [19]:
lr.fit(x_train, y_train)  # 회귀모델 도출..

LinearRegression()

In [20]:
lr.coef_  # 계수값

array([25.70099957, 38.62815919,  0.5430569 , 61.24924659])

In [21]:
lr.intercept_   # 절편값

-1051.9483214146558

In [22]:
# 회귀식 : y=  25x1 + 38x2 + 0.9x3 + 62x4 -1069

In [23]:
preds = lr.predict(x_test)
preds

array([589.85028642, 449.9402057 , 547.97422999, 436.16341223,
       516.91938284, 657.16884836, 482.52793626, 500.94189974,
       523.80526087, 461.16906603, 543.1903883 , 427.74711273,
       545.86246634, 512.03414293, 390.70201335, 504.03274587,
       437.99895458, 392.60017873, 609.75817978, 513.52947486,
       412.48748182, 459.04963293, 557.2503089 , 553.12156454,
       570.23009027, 610.05887416, 471.03694674, 599.08419619,
       398.64107867, 288.68051704, 599.36725567, 507.79960851,
       256.17118617, 473.0463872 , 418.92639634, 498.81625443,
       433.78306453, 511.84276402, 425.40914567, 424.03476903,
       451.50236995, 375.96847279, 394.65483312, 540.06311022,
       684.53993228, 374.00862695, 535.64916029, 593.70732465,
       494.24291912, 519.24137427, 702.86368931, 415.29654932,
       448.95247512, 563.56127359, 638.34527858, 576.74918157,
       599.14776731, 553.58632303, 481.73304577, 425.70639585,
       572.38299825, 402.53252317, 516.974957  , 569.93162844,
       509.27765725, 315.82041345, 474.43580364, 438.628654  ,
       481.63787856, 462.14434957, 587.87358552, 426.74215204,
       589.53144745, 588.89876378, 572.39033045, 358.11639449,
       478.66688852, 547.95834335, 479.78240418, 648.37598257,
       503.99126823, 446.24246343, 548.43065632, 482.9175591 ,
       515.58523665, 558.44073212, 543.25250609, 457.11266057,
       532.01873805, 552.09885033, 481.48106961, 765.3846728 ,
       507.47108786, 577.52169766, 491.45512959, 500.4230978 ,
       511.79191766, 479.17739653, 536.66679593, 472.00813658,
       574.29504878, 595.08081229, 569.42958225, 538.46287342,
       597.48165728, 478.15606337, 500.42902474, 481.74648297,
       505.42930368, 564.6633352 , 604.5378038 , 500.94569642,
       608.39567874, 672.11752271, 585.31935643, 504.43717496,
       284.33898747, 469.23120617, 578.63506032, 497.07062646,
       520.10768134, 353.70560065, 343.61384476, 489.71232197,
       332.46808994, 348.74406724, 615.17807323, 381.93472611,
       464.00886934, 460.57688357, 464.41133853, 532.5477489 ,
       433.60283062, 518.26357951, 548.48698895, 534.93820024,
       478.78734931, 487.91770735, 457.39679667, 409.615306  ,
       551.90731402, 457.49758896, 562.46678213, 399.86893232,
       456.83525102, 534.77973817, 474.57384735, 601.4103582 ,
       430.21658009, 583.18087789])

In [24]:
# 회귀식 평가... 

# mean squared error(MSE) : 오차제곱합의 평균
# mean absolute error(MAE) : 절대값오차합의 평균
# root mean squared error(RMSE) : 오차제곱합의 평균의 제곱근

# R-square

In [25]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [26]:
print('MSE :', mean_squared_error(y_test, preds))
print('MAE :', mean_absolute_error(y_test, preds))
print('RMSE :', np.sqrt(mean_squared_error(y_test, preds)))

MSE : 107.41035942115694
MAE : 8.294685269008983
RMSE : 10.363896922545926

In [27]:
print('R2_score :', r2_score(y_test, preds))

R2_score : 0.9852420347968482

In [28]:
# r2_score - 회귀식의 대표적인 평가지표..

# (1 - (회귀식오차/단순평균오차))
# 단순평균오차에서 회귀식을 사용함으로써 오차를 얼마나 줄여주었는가의 비율값
# (회귀식값- 단순평균오차) / 단순평균오차
# 1에 가까울수록 좋은 모델..

In [29]:
df.drop('Cabin',axis=1,inplace=True)

KeyError: "['Cabin'] not found in axis"

In [ ]:
df

In [ ]:
# Pclass의 평균값으로 채운다

In [ ]:
df.groupby('Pclass')['age'].mean()