In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df = pd.read_csv('./data/College_adj.csv',index_col=0)

In [9]:
df.head()

,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
Abilene Christian University,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
Adelphi University,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
Adrian College,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
Agnes Scott College,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
Alaska Pacific University,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

In [10]:
from sklearn.cluster import KMeans

In [11]:
km = KMeans(n_clusters=2)

In [12]:
km.fit(df)

KMeans(n_clusters=2)

In [19]:
df1 = pd.read_csv('./data/College_Data',index_col=0)

In [20]:
df1.head()

,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

In [21]:
(df1.Private == 'Yes').astype(int)

Abilene Christian University       True
Adelphi University                 True
Adrian College                     True
Agnes Scott College                True
Alaska Pacific University          True
                                  ...
Worcester State College           False
Xavier University                  True
Xavier University of Louisiana     True
Yale University                    True
York College of Pennsylvania       True
Name: Private, Length: 777, dtype: bool

In [23]:
!pip install mglearn

Collecting mglearn
  Downloading mglearn-0.1.9.tar.gz (540 kB)
Requirement already satisfied: numpy in d:\anaconda\lib\site-packages (from mglearn) (1.21.5)
Requirement already satisfied: matplotlib in d:\anaconda\lib\site-packages (from mglearn) (3.5.1)
Requirement already satisfied: scikit-learn in d:\anaconda\lib\site-packages (from mglearn) (1.0.2)
Requirement already satisfied: pandas in d:\anaconda\lib\site-packages (from mglearn) (1.4.2)
Requirement already satisfied: pillow in d:\anaconda\lib\site-packages (from mglearn) (9.0.1)
Requirement already satisfied: cycler in d:\anaconda\lib\site-packages (from mglearn) (0.11.0)
Requirement already satisfied: imageio in d:\anaconda\lib\site-packages (from mglearn) (2.9.0)
Requirement already satisfied: joblib in d:\anaconda\lib\site-packages (from mglearn) (1.1.0)
Requirement already satisfied: pyparsing>=2.2.1 in d:\anaconda\lib\site-packages (from matplotlib->mglearn) (3.0.4)
Requirement already satisfied: kiwisolver>=1.0.1 in d:\anaconda\lib\site-packages (from matplotlib->mglearn) (1.3.2)
Requirement already satisfied: python-dateutil>=2.7 in d:\anaconda\lib\site-packages (from matplotlib->mglearn) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in d:\anaconda\lib\site-packages (from matplotlib->mglearn) (4.25.0)
Requirement already satisfied: packaging>=20.0 in d:\anaconda\lib\site-packages (from matplotlib->mglearn) (21.3)
Requirement already satisfied: six>=1.5 in d:\anaconda\lib\site-packages (from python-dateutil>=2.7->matplotlib->mglearn) (1.16.0)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda\lib\site-packages (from pandas->mglearn) (2021.3)
Requirement already satisfied: scipy>=1.1.0 in d:\anaconda\lib\site-packages (from scikit-learn->mglearn) (1.7.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\anaconda\lib\site-packages (from scikit-learn->mglearn) (2.2.0)
Building wheels for collected packages: mglearn
  Building wheel for mglearn (setup.py): started
  Building wheel for mglearn (setup.py): finished with status 'done'
  Created wheel for mglearn: filename=mglearn-0.1.9-py2.py3-none-any.whl size=582639 sha256=95a2bd6d0a8a1df377b4b3c2196aba90cee4176ebe5f9103750baaaefe2e3988
  Stored in directory: c:\users\yonsai\appdata\local\pip\cache\wheels\df\30\8a\1e2c8f144c9d411b0688f628d496d2db8f61b6d14bcedaa1df
Successfully built mglearn
Installing collected packages: mglearn
Successfully installed mglearn-0.1.9

In [24]:
import mglearn

In [ ]:
from sklearn.datasets import make_blobs

x,y = make_blobs(n_samples=150,
                 n_features=2,
                 centers=3,
                 shu
                )

In [25]:
plt.scatter(x[y_km==0,0],x[y_km==0,1])

NameError: name 'x' is not defined

In [ ]:
cluster의 갯수]
inertia
cluster모델의 대략적인 평가지표

cluster 내부의 데이터들이 얼마나 촘촘히 뭉쳐있는가

In [ ]:
distortions = []

for i in range(1,11):
    km= KMeans(n_clusters = i,
              init='random',
              random_state=111)

In [ ]:
from sklearn.metrics import silhouette_samples
from matplotlib import cm

In [28]:
km =KMeans(n_clusters =3,
          init = 'k-means++',
          random_state=111)
km.fit(x)
y_km = km.predict(x)
y_km

NameError: name 'x' is not defined

In [ ]:
silhouette_avg = np.mean(silhouetee_vals)
plt.axvline(silhouette_avg, color='red', linestyle='--')
plt.show()

In [ ]:
# dendrogram

In [29]:
from scipy.cluster.hierarchy import dendrogram, ward

In [ ]:
linkage_array =ward(x)

row_dendr=dendrogram(linkage_array,labels=y)

plt.tight

In [ ]:
axes[0].scatter(x_scaled[:,0],x_scaled[:,1],c=random_clusters,
               camp = mglearn.cm3, s=10,edgecolor='black')